In [920]:
from sklearn import datasets,linear_model
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [921]:
iris_data = pd.read_csv('Iris.csv')

In [922]:
iris_num = iris_data.select_dtypes(np.number)
iris_cat = iris_data.select_dtypes(object)

In [923]:
iris_num.drop(['Id'],axis=1,inplace=True)
iris_num.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [924]:
print(iris_num.isnull().sum())
print("\n", iris_cat.isnull().sum())

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

 Species    0
dtype: int64

In [925]:
le = LabelEncoder()
iris_cat = iris_cat.apply(le.fit_transform)

iris_full = pd.concat([iris_num,iris_cat],axis=1)
iris_full.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [926]:
x = iris_full.drop(['Species'],axis=1)
y = iris_full['Species']

x_train = np.array(x[0:int(0.70*len(x))])
y_train = np.array(y[0:int(0.70*len(y))])

x_test = np.array(x[int(0.90*len(x)):])
y_ans = np.array(y[int(0.90*len(y)):])
print(len(y_train))

105

In [927]:
RF = RandomForestClassifier()
RF_fit = RF.fit(x_train,y_train)

RF_pred = RF_fit.predict(x_test)
print(RF_pred)

print(accuracy_score(RF_pred,y_ans)*100)

[2 2 2 1 2 2 2 2 2 2 2 1 2 2 1]
80.0